* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f7f7f7;
}

a {
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* outline: 1px solid tomato; */
  padding: 1rem 2rem;
  background-color: white;
  position: relative;
  box-shadow: 2px 2px 7px black;
}

.navbar-toggle {
  right: 1rem;
  position: absolute;
  display: block;
  cursor: pointer;
  height: 1rem;
  width: 2rem;
  top: 1.25rem;
}

.navbar-toggle::before,
.navbar-toggle::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2rem;
  background-color: black;
  transform-origin: left;
  transition: all 200ms;
}

.navbar-toggle::after {
  top: 100%;
}

.navbar-toggle.navbar-expand::before {
  transform: rotate(45deg);
  width: 1.45rem;
}

.navbar-toggle.navbar-expand::after {
  transform: rotate(-45deg);
  width: 1.45rem;
}

.navbar ul {
  list-style: none;
}

.navbar-logo {
  width: 25%;
}

.navbar-logo.logo-large {
  display: block;
}

.navbar-logo.logo-mark {
  display: none;
}

.navbar-group {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  /* outline: 1px solid blue; */
  padding: 1rem 0;
}

.navbar-group.navbar-expand {
  display: flex;
}

.navbar-item {
  padding: 0.5rem;
  /* outline: 1px solid tomato; */
  position: relative;
  text-wrap: nowrap;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  width: fit-content;
  color: #262626;
  align-items: center;
  gap: 1rem;
}

.navbar-item:hover {
  color: #2b86d6;
}

.navbar .navbar-down {
  position: relative;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 1rem;
  z-index: 10;
}

@keyframes menuReveal {
  from {
    transform: translateY(-0.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar .navbar-action {
  display: none;
}

.navbar .navbar-action.navbar-expand {
  display: inherit;
}

.navbar .navbar-action button {
  border: 1px solid black;
  background: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms;
}

.navbar .navbar-action button:hover {
  box-shadow: 5px 5px 0 black;
  transform: translate(-5px, -5px);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    background-color: blue;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    background-color: green;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

  .navbar-item {
    display: flex;
    flex-direction: row;
  }

  .navbar-item:has(> .navbar-down)::after {
    content: "";
    width: 5px;
    aspect-ratio: 1/1;
    display: inline-block;
    /* background-color: red; */
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transform: rotate(45deg);
  }

  .navbar .navbar-group {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .navbar .navbar-action {
    display: inherit;
  }

  .navbar .navbar-down {
    position: absolute;
    display: none;
    border: 1px solid gray;
    box-shadow: 5px 5px 0 black;
  }

  .navbar-down.navbar-expand {
    display: block;
    animation: menuReveal 200ms linear;
  }

  .navbar-logo.logo-large {
    display: none;
  }

  .navbar-logo.logo-mark {
    display: block;
  }

  .navbar-toggle {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-color: #e7e7e7;
  }

  .navbar-logo.logo-large {
    display: block;
  }

  .navbar-logo.logo-mark {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
